body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.active {
  background-color: #BAE0E6;
}

a.nav-link:hover,
button.btn-custom:hover,
button.btn-action:hover {
  background-color: #a6fff6 !important;
  color: #000000 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

div.light-box{
  background-color: #FFD700;
}
div.humidity-box{
  background-color: #0D6EFD;
}
div.temperature-box {
  background-color: #FF1313;
}

.chart-container{
  height: 600px;
}

button.btn-action {
  background-color: #000000;
  color: white;
  width: 90px;
  height: 50px;
  border:  none;
  border-radius: 10px;
  font-size: 24px;
}

button.btn-action.active{
  background-color: #0D6EFD;
}

@keyframes flash {
  0%, 100% { background-color: #ff4d4d; }
  50% { background-color: #ffffff; }
}

.flash-warning {
  animation: flash 1s infinite;
}
